*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}
/*전체화면 */
body {
 backgroung-img:url(image/background.png);
  font-family: 'Titillium Web', sans-serif;
}




/* 비밀번호찾기 */
a {
  text-decoration: none;
  color: #c0c0c0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* 마우스 오버 */
a:hover {
  color: #c0c0c0;
}


.gender-radio{
	 font-size: 10pt;
 	 margin:10px;
 	 padding: 10px;
 	
}

.form {
  background:#ffffff;
  padding: 40px;
  max-width: 400px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  
}


.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #ffffff;
  font-size: 20px;
  float: right;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* 마우스 오버했을때 위쪽 탭 */
.tab-group li a:hover {
  background: #272727;
  color: #ffffff;
}
.tab-group .active a {
  background: #272727;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #c0c0c0;
  font-weight: 300;
  margin: 0 0 40px;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #272727;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 10px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #c0c0c0;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button:hover, .button:focus {
  background: #272727;
}

.button-block {
  display: block;
  width: 80%;
;
}

.forgot {
  margin-top: 20px;
  text-align: right;
}

.naver{
	width:280px
}
.facebook{
	width:280px
}

